<div *ngIf="meal">
  <h2 class="text-center text-2xl bold m-2">
    {{meal.name}}
  </h2>
  
  <div class="grid grid-cols-6 items-center">
    <div class="align-center">
      <p>
        <strong>Category: </strong>
        <button mat-button routerLink="/categories/{{meal.category}}">{{meal.category}}</button>
      </p>
    </div>
    <div>
        <strong>Area: </strong>
        <button mat-button routerLink="/areas/{{meal.area}}">{{meal.area}}</button>
    </div>
    <div>
      <p *ngIf="meal.tags">
        <strong>Tags: </strong>{{meal.tags}}
      </p>
      <p *ngIf="!meal.tags">
        <strong>Tags: </strong><em>N/A</em>
      </p>
    </div>
    <div class="row-start-2 col-span-2 p-10 drop-shadow-md">
      <app-ingredient-list  [ingredients]="meal.ingredients"></app-ingredient-list>
    </div>
    <div class="row-start-2 col-span-4 p-10">
      <img class="rounded-lg drop-shadow-md" src="{{meal.thumb}}" alt={{meal.name}}>
    </div>
    <div class="col-span-6 row-start-3">
      <p><strong class="bold">Instructions:</strong> {{meal.instructions}}</p>
    </div>
  </div>
</div>